.homeview {
  font-family: 'Nunito', sans-serif;
  .navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    background: #fff;
    .container {
      max-width: 1300px;
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .brand-logo-cont {
        width: 16%;
        cursor: pointer;
        .logo {
          width: 100%;
        }
      }

      .search-bar {
        width: 53%;
        height: 100%;
        padding: 13px 30px;
        background: #fafafa;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 10px;
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
      }
      .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        width: 10%;
        cursor: pointer;
        .text {
          color: grey;
          font-weight: bold;
          order: 2;
        }
        .icon {
          margin: 0 5px 0 0;
        }
      }
      .nav-btn {
        width: 12%;
        background: #dc3226;
        border: none;
        color: #fff;
        border-radius: 10px;
        align-self: stretch;
        display: block;
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .homeview-header {
    padding: 81px 0 0 0;
    .hero-showcase {
      width: 100%;
      .hero-cont {
        width: 100%;
        .hero {
          width: 100%;
        }
      }
    }
    .category {
      padding: 40px 0;
      .container {
        max-width: 1300px;
        width: 80%;
        margin: auto;
        .category-list {
          display: flex;
          justify-content: space-between;
          .cat {
            width: 11%;
            border: 1px solid rgb(207, 207, 207);
            border-radius: 10px;
            padding: 10px 0 20px 0;
            cursor: pointer;
            .cat-icon-cont {
              text-align: center;
              .icon {
                width: 50%;
              }
            }
            .cat-name {
              color: grey;
              text-align: center;
            }
            &:hover {
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
              border: none;
            }
          }
        }
      }
    }
  }
  .homeview-products {
    background: #f5f7fa;
    padding: 100px 0;
    .upper {
      max-width: 1300px;
      width: 80%;
      margin: 0 auto 20px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .msg {
        font-size: 2rem;
        .text {
          display: block;
          margin: 0 0 20px 0;
        }
        hr {
          width: 50px;
          border: 1px solid #dc3226;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        .btn-cont {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          border: 1px solid #333;
          margin: 0 0 0 10px;
        }
      }
    }
    .products {
      display: flex;
      width: 100%;
      overflow-x: auto;
      padding: 0 0 0 20px;
      .product {
        flex-shrink: 0;
        cursor: pointer;
        padding: 20px;
        width: 17%;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 3px;
        margin: 0 1.3% 0 0;
        .prd-img-cont {
          margin: 0 0 20px 0;
          .img {
            width: 100%;
          }
        }
        .prd-name {
          display: block;
          font-size: 1.3rem;
          margin: 0 0 20px 0;
        }
        .down {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .left {
            .text {
              color: rgb(180, 180, 180);
              font-weight: bold;
              margin: 0 0 5px 0;
              font-size: 0.8rem;
            }
            .rate {
              font-size: 0.9rem;
              color: #000;
            }
          }
          .right {
            .btn {
              border: 1px solid #dc3226;
              border-radius: 3px;
              color: #dc3226;
              background: #fff;
              padding: 10px 20px;
              cursor: pointer;
              font-size: 0.9rem;
              &:hover {
                color: #fff;
                background: #dc3226;
              }
            }
          }
        }
      }
    }
    .products::-webkit-scrollbar {
      display: none;
    }
  }
  .features {
    padding: 100px 0;
    .upper {
      max-width: 1300px;
      width: 80%;
      margin: 0 auto 20px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .msg {
        font-size: 2rem;
        .text {
          display: block;
          margin: 0 0 20px 0;
        }
        hr {
          width: 50px;
          border: 1px solid #dc3226;
        }
      }
    }
    .features-list {
      max-width: 1300px;
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      .feature {
        padding: 30px 0;
        width: 33.333%;
        margin: 0 0 20px 0;
        .icon-cont {
          width: 15%;
          margin: 0 0 20px 0;
          .icon {
            width: 100%;
          }
        }
        .feature-name {
          font-size: 1.2rem;
          margin: 0 0 15px 0;
        }
        .detail {
          color: grey;
          width: 90%;
        }
      }
    }
  }
  .main-footer {
    background: #f5f7fa;
    .container {
      width: 80%;
      padding: 80px 0;
      max-width: 1300px;
      margin: auto;
      .upper {
        display: flex;
        .sec {
          width: 25%;
          .title {
            font-size: 1rem;
            color: #555;
            cursor: pointer;
            text-transform: uppercase;
          }
          .items {
            margin: 25px 0 0 0;
            .item {
              list-style: none;
              cursor: pointer;
              margin: 20px 0 0 0;
              color: rgb(119, 119, 119);
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
